<ion-tabs>
  <ion-tab-bar>
  <ion-tab-button tab="tab1">
    <ion-icon  color="medium" name="color-fill"></ion-icon>
    <ion-label>About</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="tab2">
    <ion-icon  color="medium" name="book"></ion-icon>
    <ion-label>Contacts</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="tab3">
    <ion-icon  color="medium" name="color-fill"></ion-icon>
    <ion-label>Stack</ion-label>
  </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
