<ion-header>
  <ion-toolbar>
    <ion-title>
     Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">

    <ion-item >
      <ion-icon slot="start" color="medium" name="mail"></ion-icon>
      <ion-label class="ion-text-wrap">lizzka00@icloud.com</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="contact"></ion-icon>
      <ion-label class="ion-text-wrap">0960496832</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
