<ion-header>
  <ion-toolbar>
    <ion-title>
      First IONIC Project
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="https://images.unsplash.com/photo-1523895665936-7bfe172b757d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Computer science</ion-card-subtitle>
        <ion-card-title>Lutsko Yelyzaveta</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>302</p>
      </ion-card-content>
    </ion-card>

</ion-content>
