<ion-header>
  <ion-toolbar>
    <ion-title>
     Stack
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" class="ion-align-items-center">

    <ion-item>
      <ion-icon slot="start" color="medium" name="analytics"></ion-icon>
      <ion-label >Java</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="aperture"></ion-icon>
      <ion-label >Spring</ion-label>
    </ion-item>
      <ion-item>
      <ion-icon slot="start" color="medium" name="beaker"></ion-icon>
      <ion-label class="ion-text-wrap">Hibernate</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="logo-angular"></ion-icon>
      <ion-label class="ion-text-wrap">Angular</ion-label>
    </ion-item>
   
  </ion-list>
</ion-content>
